In [37]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy.ma as ma
import rioxarray as rxr
import rasterio
from rasterio.plot import plotting_extent
import geopandas as gpd
import rasterstats as rs #extract the value
import earthpy as et
import earthpy.plot as ep
from glob import glob
import os
import numpy as np

In [38]:
usdm_dir = "R:/UnitedStates/ForDRI_project-NEW/USDM_Evaluation_2023/USDM_rpj/"
usdm_flist = glob(usdm_dir+"*.tif")
usdm_flist.sort()

## Extract USDM values at tree-ring sites in the US

In [39]:
# western US
west_tr_shp_dir = "R:/UnitedStates/ForDRI_project-NEW/shapefile/tree_ring_sites_7_years.shp"
west_tr_shp = gpd.read_file(west_tr_shp_dir)
west_tr_shp = west_tr_shp[['Collection','Northernmo', 'Westernmos']] # latitude and longitude
west_tr_shp.index = range(len(west_tr_shp))
west_tr_coords = [(x,y) for x, y in zip(west_tr_shp.Westernmos,west_tr_shp.Northernmo)]  # longitude and latitude

In [43]:
# eastern US
east_tr_shp_dir = "R:/UnitedStates/ForDRI_project-NEW/shapefile/Tree_site_info_overlapped_7yrs_easternUS.shp"
east_tr_shp = gpd.read_file(east_tr_shp_dir)
east_tr_shp = east_tr_shp.drop_duplicates() # drop diplicates
#east_tr_shp = east_tr_shp.loc[east_tr_shp['Collection']!='AR078',:]
east_tr_shp = east_tr_shp[['Collection','Northernmo', 'Westernmos']]
east_tr_shp.index = range(len(east_tr_shp))
east_tr_coords = [(x,y) for x, y in zip(east_tr_shp.Westernmos,east_tr_shp.Northernmo)]

In [44]:
# extracting USDM value at the tree ring sites
for usdm in usdm_flist:
    fname = os.path.basename(usdm)[-10:-4]
    with rasterio.open(usdm) as src:
        #west_tr_shp[fname] = [x[0] for x in src.sample(west_tr_coords)]
        east_tr_shp[fname] = [x[0] for x in src.sample(east_tr_coords)]

In [32]:
neg1_pos = np.where(west_tr_shp.iloc[:,3:].to_numpy()==-1)
west_tr_shp.iloc[:,3:].iloc[neg1_pos[0],neg1_pos[1]] # 2016 week 38 all values +1

    201638  201638  201638  201638  201638  201638  201638  201638  201638
31      -1      -1      -1      -1      -1      -1      -1      -1      -1
34      -1      -1      -1      -1      -1      -1      -1      -1      -1
37      -1      -1      -1      -1      -1      -1      -1      -1      -1
39      -1      -1      -1      -1      -1      -1      -1      -1      -1
40      -1      -1      -1      -1      -1      -1      -1      -1      -1
48      -1      -1      -1      -1      -1      -1      -1      -1      -1
49      -1      -1      -1      -1      -1      -1      -1      -1      -1
50      -1      -1      -1      -1      -1      -1      -1      -1      -1
51      -1      -1      -1      -1      -1      -1      -1      -1      -1

In [36]:
west_tr_shp.iloc[neg1_pos[0],:]

,Collection,Northernmo,Westernmos,200301,200302,200303,200304,200305,200306,200307,...,202232,202233,202234,202235,202236,202237,202238,202239,202240,202241
31,CO656,37.437236,-106.631074,4,4,4,4,4,4,4,...,1,1,1,1,1,1,1,1,0,0
34,NM594,32.914000,-107.765000,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1
37,NM601,32.349000,-106.564000,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1
39,OK036,34.750000,-94.883300,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
40,OK037,34.633300,-94.533300,0,0,0,0,0,0,0,...,4,4,3,3,2,2,2,3,4,4
48,TX052,29.872000,-98.499000,0,0,0,0,0,0,0,...,5,5,5,5,4,4,4,4,4,4
49,TX053,30.480000,-98.145000,0,0,0,0,0,0,0,...,5,5,5,5,4,4,4,4,4,4
50,TX054,29.432000,-96.009000,0,0,0,0,0,0,0,...,4,4,4,3,2,2,2,2,2,2
51,UT544,37.620000,-110.020000,4,4,4,4,4,4,4,...,4,4,4,4,3,3,3,3,3,3

In [45]:
# west_tr_shp.to_csv("R:/UnitedStates/ForDRI_project-NEW/USDM_Evaluation_2023/tree_ring_sites_usdm_westernUS.csv", index=None)
east_tr_shp.to_csv("R:/UnitedStates/ForDRI_project-NEW/USDM_Evaluation_2023/tree_ring_sites_usdm_easternUS.csv", index=None)

## Extract USDM values at Bowen Ratio (AmeriFlux) sites in the US

In [8]:
west_br_dir ="R:/UnitedStates/ForDRI_project-NEW/shapefile/bowen_ratio_sites.shp"
west_br_shp = gpd.read_file(west_br_dir)
west_br_shp = west_br_shp[['Site','Lat','Long']]
west_br_shp.index = range(len(west_br_shp))
west_br_coords = [(x,y) for x, y in zip(west_br_shp.Long,west_br_shp.Lat)]

In [10]:
east_br_dir = "R:/UnitedStates/ForDRI_project-NEW/shapefile/AmeriFlux_Site_Info_EasternUS.shp"
east_br_shp = gpd.read_file(east_br_dir)
east_br_shp = east_br_shp[['Site_Id', 'Latitude__','Longitude']]
east_br_shp.index = range(len(east_br_shp))
east_br_shp.columns = ['Site','Lat','Long']
east_br_coords = [(x,y) for x, y in zip(east_br_shp.Long,east_br_shp.Lat)]

In [12]:
# extracting ForDRI at the AmeriFlux sites
for usdm in usdm_flist:
    fname = os.path.basename(usdm)[-10:-4]
    with rasterio.open(usdm) as src:
        west_br_shp[fname] = [x[0] for x in src.sample(west_br_coords)]
        east_br_shp[fname] = [x[0] for x in src.sample(east_br_coords)]

In [13]:
west_br_shp.to_csv("R:/UnitedStates/ForDRI_project-NEW/USDM_Evaluation_2023/ameriflux_sites_usdm_westernUS.csv", index=None)
east_br_shp.to_csv("R:/UnitedStates/ForDRI_project-NEW/USDM_Evaluation_2023/ameriflux_sites_usdm_easternUS.csv", index=None)

In [ ]:
stdBW_dir = "/work/tadesse/beichen/Work/ForestDri/Ameriflux/Bowen_Ratio/"
stdBW_list = glob.glob(stdBW_dir+"*_stdBW.csv")
stdBW_list.sort()
for stdBW in stdBW_list:
    fname = os.path.basename(stdBW)
    df = pd.read_csv(stdBW,index_col=0)
    start = df.index[0]
    end = df.index[-1]
    print(start,end)
    if start < 200301:
        start = 200301
    if end > 202052:
        end = 202052
    df = df.loc[200301:202052,:]
    df.to_csv("/work/tadesse/beichen/Work/ForestDri/NEW_Validation_2022/stdbw/"+fname)